<h2>{{authorDateCompute}}</h2>
<h5>{{question.ask}}</h5>

<button {{action 'addToFavorite' question}}>Add to
  Favorite List</button>

<h3>Answers:</h3>
<ul>
  {{#each question.answers as |answer|}}
    <li>{{#link-to 'answer' answer.id}}{{answer.author}} says: {{answer.response}}{{/link-to}}</li>
  {{/each}}
</ul>
